@font-face{
	src:url(../ima/Bertrade.ttf);
	font-family:  Ber;
}


*{
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	/* background: url(ima/indexx.png); */
	background: url(ima/Fondo.png);

	background-size: 100% 100%;
	background-attachment: fixed; /* imagen fija si se dezplaza la barra de dezplazamiento	 */
	background-size: cover;
}

header{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 113px;
    /* background-color: aqua; */
    /* opacity: 0.3; */
    /* border: 1px solid #FFFFFF; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mc{
    padding: 34px 36px;
    width: 60px;
    height: 60px;
}

nav{
    /* padding-right: 46px; */
    margin-right: 46px;
    padding-top: 0px;
    margin-top: 0px;
    /* background-color: rgb(179, 228, 46); */
   
}
nav a{
    display: inline-block;
    margin-left: 32px;          /* distancia entre cada item de navegacion (a) */
    width: 40px; height: 40px;  /* dimension cada item */
    border-radius: 100%;
}
.fc{
    background: url(ima/facebook.png);
    background-size: cover;
}
nav a:nth-child(3){
	background: url(ima/twitter.png);
	background-size: cover;
}
.divLogoDGC{
    position:absolute ;
    top: 113px;
    left: 0px;
    display: flex;
    width: 91.8vw;
    height: 348px;
    /* background-color: rgb(179, 228, 46); */
}
.divLogoDGC img{
    /* position: absolute; */
    margin-top: 39px;
    margin-top: 2.85vw;
    margin-left: 385px; 
    margin-left: 28.2vw;
    width: 638px;
    width: 46.7vw;
    /* width: 50.9%; */
    height: 350px;
    height: 25.6vw;
}

.botonStart{
	position:absolute ;
	top: 152px;
	left: 385px;
    width: 638px;
    height: 350px;
	/*background: rgba(115, 115, 115,.5);*/
	background: url(ima/BotonEnter.png);
	/*cursor: crosshair;*/
}